:root {
    --color__main: #ffedd3;
    --color__header: #ffce8a;
    --color__nav: #ffce8a;
    --color__mobile-nav-item: #ffdeb0;
    --color__accent: #960000;

    --color__text-main: #000000;
    --color__text-header: #000000;
    --color__text-nav: #000000;
    --color__text-mobile-nav-item: #000000;
}